{% extends 'CmsGaBackBundle::layoutseccionform.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'Bloque'}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <h1>{{ 'views.edit.edit'|trans({'%entity%': 'Bloque'}, 'MWSimpleAdminCrudBundle') }}</h1>

    {{ form(edit_form) }}

        <div>
    <div class="float-left">
        <a class="btn" href="{{ path('admin_bloque') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
        </a>
    </div>
</div>
{% endblock %}