{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Bloque'}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <h1>Bloque</h1>

    <form class="form-horizontal">
        <fieldset>                <div class="control-group">
                    <label class="control-label">Nombre</label>
                    <div class="controls">                        <span class="input-xlarge uneditable-input">{{ entity.nombre }}</span>                    </div>
                </div>                <div class="control-group">
                    <label class="control-label">Contenido</label>
                    <div class="controls">{{ entity.contenido|raw }}</div>
                </div>        </fieldset>
    </form>

        <div>
    <div class="float-left">
        <a class="btn" href="{{ path('admin_bloque') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('admin_bloque_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleAdminCrudBundle') }}
        </a>
    </div>
</div>
{% endblock %}