{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Noticia'}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="span8">
        <h1>ADMINISTRADOR</h1>
    </div>

    <div class="span12"></div>
    </div>
{% endblock %}