{% form_theme form _self %}

{%- block form_widget_compound -%}
    <div class="input-group">
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{% block form_row %}
{% spaceless %}
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
    <span class="input-group-btn">
        {{ form_widget(form) }}
    </span>
{% endspaceless %}
{% endblock button_row %}