{% block cmsga_backbundle_noticia_widget %}
    {% form_theme form 'CmsGaBackBundle:widget:noticia-fecha.html.twig' %}
    {{ form_errors(form) }}
    <fieldset>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.seccion) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.fecha) }}
            </div>
            {% if form.publicado is defined %}
                <div class="col-lg-1 col-md-1 col-sm-1">
                    {{ form_row(form.publicado) }}
                </div>
            {% endif %}
            {% if form.destacada is defined %}
                <div class="col-lg-1 col-md-1 col-sm-1">
                    {{ form_row(form.destacada) }}
                </div>
            {% endif %}
            <div class="col-lg-1 col-md-1 col-sm-1">
                {{ form_row(form.portada) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.titulo) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.descripcion) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form_row(form.contenido) }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Imagen Portada</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% include 'CmsGaBackBundle:widget:add-imagenPortada.field.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Imagenes</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 well">
                {% include 'CmsGaBackBundle:widget:add-imagenes.field.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Videos</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 well">
                {%  include 'CmsGaBackBundle:widget:add-videos.field.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Archivos</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% include 'CmsGaBackBundle:widget:macro-archivo.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
    {% include 'CmsGaBackBundle:widget:macro-publicar-facebook.htm.twig' with { 'form' : form } %}
    {{ form_row(form.realpaths) }}
{% endblock %}