{% block app_user_registration_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            {{ form_row(form.username) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.roles) }}
        </div>  
        <div class="col-lg-2 col-md-2 col-sm-2">
            {{ form_row(form.enabled) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <legend>Secciones</legend>
            {% include 'CmsGaBackBundle:widget:add-seccion.field.html.twig' with { 'form' : form } %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <legend>Facebook</legend>
            {% include 'CmsGaBackBundle:widget:add-selectPageFace.field.html.twig' with { 'form' : form } %}
        </div>
    </div>
    <br>  
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>  
{% endblock %}
