{% block cmsga_backbundle_seccion_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <fieldset>
        <legend>Datos para menu</legend>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.item.title) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.item.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                {{ form_row(form.item.orden) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                {{ form_row(form.ordenListado) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                {{ form_row(form.portada) }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_row(form.publicado) }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_row(form.permiteNoticias) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.item.menu) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.item.parent) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                {{ form_row(form.urlExterna) }}
            </div>
            <div id="urlExterna" class="col-lg-5 col-md-5 col-sm-5 ocultar">
                {{ form_row(form.url) }}
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                {{ form_row(form.plantilla) }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Contenido</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form_row(form.contenido) }}
            </div>
        </div>
    </fieldset>
    <fieldset>   
        <legend>Imagenes</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 well">
                {% include 'CmsGaBackBundle:widget:add-imagenes.field.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
    <fieldset>   
        <legend>Archivo</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% include 'CmsGaBackBundle:widget:macro-archivo.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
    <br />
    {{ form_row(form.save) }}
    {{ form_row(form.saveAndAdd) }}
    {{ form_row(form._token) }}
    {{ form_rest(form) }}
{% endblock %}
