{% block cmsga_backbundle_contacto_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <fieldset>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {{ form_row(form.correo) }}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {{ form_row(form.nombreYapellido) }}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {{ form_row(form.telefono) }}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        {{ form_row(form.mensaje) }}
                    </div>
                </div>                
            </div>
        </div>
    </fieldset>
{% endblock %}
