{% block cmsga_backbundle_configface_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <fieldset>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            {{ form_row(form.appId) }}
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            {{ form_row(form.secret) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        {% include 'CmsGaBackBundle:widget:add-PageFace.field.html.twig' with { 'form' : form } %}
                    </div>
                </div> 
                <br>  
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        {{ form_row(form.save) }}
                        {{ form_row(form.saveAndAdd) }}
                    </div>
                </div>  
            </div>  
        </div>
    </div>
</fieldset>
{% endblock %}
