{% block cmsga_backbundle_imagenportada_widget %}
    {% form_theme form 'CmsGaBackBundle:widget:imagen-portadafields.html.twig' %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            {{ form_row(form.file) }}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    {{ form_row(form.orden) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    {{ form_row(form.finPublicacion) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    {{ form_row(form.publicado) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ocultarCamposImagenPortada">
                    {{ form_row(form.descripcion) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
