{% extends "TwigBundle:Exception:error.html.twig" %}
{% block body %}
        <div class="status"><h3>El servidor retornó el siguiente error "{{ status_code }}".</h3></div>
        <p><h4>No tienes permiso. Al Parecer no tienes los accesos para ver está página.</h4></p>
{% endblock %}
