{% extends "::base.html.twig" %}
{% block title %}MECyT {% block backTitle %}{% endblock %}{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ACE. Sitios a Medida, Administrador de Contenidos Escalable">
    <meta name="author" content="ACE">
    <link rel="shortcut icon" href="{{ asset('bundles/cmsgafront/sitio2/ico/favicon.png') }}">
{% endblock %}

{% block stylesheets %}
    {# <link href="{{ asset('bundles/cmsgafront/sitio2/css/contacto.css') }}" rel="stylesheet"> #}
    <link href="{{ asset('bundles/cmsgafront/sitio2/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/sitio2/css/style.css') }}" rel="stylesheet">
    {# <link href="{{ asset('bundles/cmsgafront/sitio2/css/frontend.css') }}" rel="stylesheet"> #}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/cmsgafront/sitio2/web/js/html5shiv.js') }}"></script>
      <script src="{{ asset('bundles/cmsgafront/sitio2/web/js/respond.min.js') }}"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63270979-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/cmsgafront/sitio2/web/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/sitio2/web/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type='text/javascript'>
        $('.dropdown-toggle').dropdown();

        $(document).ready(function() {
            $('.carousel').carousel({
                interval: 7000
            })
        });
    </script>
{% endblock %}

{% block body %}
    <!-- Fixed navbar -->
    {% block menu %}
        {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'menu', 'level': 1})) }}
    {% endblock %}
    <!-- Container -->
    {% block container %}
        <!-- Header -->
        <header>
            <div class="container-fluid">
                {% block carousel %}
                    {{ render(controller("CmsGaFrontBundle:Default:carousel")) }}
                {% endblock %}
            </div>
        </header>

        <div class="main">
            <div class="container">
                {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'menusecundario', 'level': 1})) }}
                {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'menuiconos', 'level': 1})) }}
                <br><br>
                {% block content %}
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-8">
                            {% for type, flashMessages in app.session.flashbag.all() %}
                                {% for flashMessage in flashMessages %}
                                    <div class="alert alert-{{ type }}">
                                        {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% block medio %}{% endblock %}
                            <br><br>
                            {% block bloquevideo %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="cal">
                                            {{ render(controller("CmsGaFrontBundle:Default:bloque")) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="video">
                                            <iframe src="https://www.youtube.com/embed/oVX_mLBAX3U" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            {% block derecha %}
                                <div class="columna">
                                    {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'enlaces', 'level': 1})) }}
                                    {{ render(controller("CmsGaFrontBundle:Default:lateral")) }}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div> <!-- /container -->
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}
    <footer>
        <img src="{{ asset('bundles/cmsgafront/sitio2/img/logos-pie.jpg') }}" alt="" />
        <p><strong>Gobernador Bosch Nº 99 – 3500<br>
        Resistencia – Chaco<br>
        Contacto Portal Educación: <a target="_blank" href="mailto:portal.meccyt@gmail.com">portal.meccyt@gmail.com</a></strong></p>
    </footer>
{% endblock %}

{% block bodyjavascripts %}
    <script type="text/javascript">
        $('.mwstooltip').tooltip(); //tooltip
    </script>
{% endblock %}