{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}
{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-pencil"></i>Editar Perfil
                </div>
                <div class="panel-body">
                    {% block fos_user_content %}
                        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
