{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}

{% block form %}    
    {% form_theme edit_form 'CmsGaBackBundle:Form:form-noticia.html.twig' %}
    {{ form(edit_form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ form_javascript(edit_form) }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/cmsgaback/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/noticia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/selectPage.js') }}"></script>
{% endblock %}  