{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Noticia'}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Noticias por publicar</h4>
            </div>
            <div class="panel-body">
                <form id="form" action="{{path('noticia_habilitar_guardar_cambios')}}" method="POST">
                    <table id="tablaPrincipal" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sección</th>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                <th>Fecha</th>
                                <th>Portada</th>
                                <th>Creado</th>
                                <th>Publicar</th>
                                <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.seccion }}</td>
                                    <td>{{ entity.titulo }}</td>
                                    <td>{{ entity.descripcion }}</td>
                                    <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y') }}{% endif %}</td>
                                    <td>{{ isActive(entity.portada) }}</td>
                                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>	
                                        <div class="btn-group" data-toggle="buttons">
                                            <input name="noticia[{{entity.id}}]" type="checkbox" >
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn btn-mini" href="{{ path('admin_noticia_show', { 'id': entity.id }) }}">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                        <a class="btn btn-mini" href="{{ path('admin_noticia_edit', { 'id': entity.id }) }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="panel-footer">
                <input id="btnEnviar" class="btn btn-primary" type="button" value="Guardar Cambios">
            </div>
        </div>
        <div class="span12">

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        $('.tooltips').tooltip();
        var table;
     
        $("#btnEnviar").click(function () {
            $("#form").submit();
        });
    </script>
{% endblock %}