{% macro videoNoticia(form, isEdit) %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-7 col-md-7 col-sm-7">     
            {{ form_row(form.codigoIframe) }}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">   
            {{ form_row(form.descripcion) }}
        </div>
        {#<div class="col-lg-1 col-md-1 col-sm-1 iframeContent">
            {% if isEdit %}    
                {{ form.codigoIframe.vars.value|raw }}
            {% endif %}
        </div>#}
        <div class="col-lg-1 col-md-1 col-sm-1">    
            <a class='delete-form btn btn-mini btn-danger' href='javascript:;'><i class='glyphicon glyphicon-trash'></i></a>
        </div>
    </div>
{% endmacro %}
<div data-prototype="{{ _self.videoNoticia(form.videos.vars.prototype, false)|e }}" class="videos-noticia">
    {% for video in form.videos %}
        {{ _self.videoNoticia(video, true) }}
    {% endfor %}
</div>
<a href='javascript:;' class='btn btn-default add-video-form'>
    <i class='glyphicon glyphicon-plus'></i><i class=" glyphicon glyphicon-facetime-video"></i>
</a>

