{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}
{% block form %}    
    {% form_theme form 'CmsGaBackBundle:Form:form-ConfigFace.html.twig' %}
    {{ form(form) }}
    <div><a href="http://findmyfbid.com/" class="btn">Buscar Id de la p&aacute;gina de facebook</a></div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addPageFace.js') }}"></script>
{% endblock %}  
