{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{{ seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}Listados noticias, eventos y mas...{% endblock %}

{% block medio %}  
    <section id="blog" class="container">
        <div class="row">
            {{ include("@dirname/Plantilla/seccionLateralBlog.html.twig") }}
            {{ render(controller('CmsGaFrontBundle:Noticia:noticiaslista', {
                'sec': seccion.url, 'view': 'listaNoticias', 'pagina': page
            })) }}
        </div><!--/.row-->
    </section><!--/#blog-->    
{% endblock %}