{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{{ seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}Listados noticias, eventos y mas...{% endblock %}

{% block medio %}    
    <section id="blog" class="container">
        <div class="row">    
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% block contenidoOrganizacion  %}
                    {{ seccion.contenido|raw }}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            {{ render(controller('CmsGaFrontBundle:Noticia:noticiaslista', {
                'sec': seccion.url, 'view': 'listaNoticiasDosCol', 'pagina': page
            })) }}
        </div><!--/.row-->
    </section><!--/#blog-->    
{% endblock %}