{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{{ seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}Listados de teléfonos, correos y mas...{% endblock %}

{% block medio %}  
    <section id="about-us" class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                {% include "@dirname/Plantilla/seccionLateralComun.html.twig" with { 'seccion' : seccion } %}
            </div><!--/.row-->
            <div class="col-lg-9 col-md-9 col-sm-9 ">
                <div class="row">
                    <div class="col-sm-12">
                        {{ seccion.contenido|raw }}
                    </div>
                </div><!--/.row-->
                {% if seccion.imagenes|length > 0%}
                    <section id="portfolio">
                        <ul class="portfolio-items row">
                            {% for img in seccion.imagenes %}
                                <li class="portfolio-item apps col-lg-4">
                                    <div class="item-inner">
                                        <a class="example-image-link" href="{{ asset(img.webPath) }}" data-lightbox="notica-Imagen-set" data-title="{{img.descripcion}}">
                                            <img class="example-image" src="{{ asset(img.webPath|imagine_filter('imagen_ancho260')) }}" alt=""/>
                                        </a>
                                    </div>
                                </li><!--/.portfolio-item-->
                            {% endfor %}
                        </ul>
                    </section><!--/#portfolio-->
                {% endif %}
                <div id="meet-the-team" class="row">
                    {% for noticia in seccion.noticias  %}
                        <div class="col-md-3 col-xs-6">
                            <div class="center">
                                <p>
                                    {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                        <img class="img-responsive img-thumbnail img-circle" src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagen_167x167')) }}" alt="" >
                                    {% else %}
                                        <img class="img-responsive img-thumbnail img-circle" src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_167x167')) }}" alt="" >
                                    {% endif%}
                                </p>
                                <h5>
                                    {{noticia.titulo}}
                                    <small class="designation muted">{{ noticia.descripcion }}</small>
                                </h5>
                                <p>{{ noticia.contenido|raw }}</p>
                                {#<a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>#}
                            </div>
                        </div>
                    {% endfor %}
                </div><!--/#meet-the-team-->
            </div>
        </div>
    </section><!--/#about-us-->
{% endblock %}