<aside class="col-sm-4 ">
    {#<div class="widget search">
        {{ render(controller("CmsGaFrontBundle:Default:buscadorContenido")) }}
    </div><!--/.search-->#}
    {% if seccion is defined %}
        {% include "@dirname/Plantilla/seccionLateralComun.html.twig" with { 'seccion' : seccion } %}
    {% endif %}
   {# <div class="widget tags">
        <h3>Tags</h3>
        <ul class="tag-cloud">
            <li><a class="btn btn-xs btn-primary" href="#">CSS3</a></li>
        </ul>
    </div><!--/.tags-->
    <div class="widget info">
        <h3>Más Información sobre {# seccion.item.title </h3>
        <ul class="tag-cloud">
            <li><a class="btn btn-small btn-info" href="#">Ver mas...</a></li>
        </ul>
    </div>#}<!--/.tags-->
</aside>  
