{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set nameArray = currentPath|split('/') %}
{% set url = nameArray[nameArray|length-1] %}
<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked" id="menuLateral">
            {% if (seccion.item.children is not empty) %}
                {% for item in seccion.item.children %}
                    {% if item.seccion.publicado == true %}
                        {% if item.title == "Noticias" %}
                        {% else %}
                            {% if (item.seccion.urlExterna) %}
                                <li class="mwstooltip verMas{#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}" data-toggle="tooltip" data-placement="top" title="{{ item.name }}" data-descripcion="{{ item.name }}" data-titulo="{{ item.title }}"><a target="_blank" href="{{ item.seccion.url }}">{{ item.title }}</a>
                                </li>
                            {% else %}
                                <li class="mwstooltip verMas{#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}" data-toggle="tooltip" data-placement="top" title="{{ item.name }}" data-descripcion="{{ item.name }}" data-titulo="{{ item.title }}"><a   href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if (seccion.item.level != 1) %}
                    <li class="mwstooltip {#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}" data-toggle="tooltip" data-placement="top" title="{{ seccion.item.parent.name }}">
                        <a href="{{ path('seccion_front', { 'sec': seccion.item.parent.seccion.url }) }}">Volver</a>
                    </li>
                {% else %}
                    <li class="mwstooltip" data-toggle="tooltip" data-placement="top" title="Inicio">
                        <a href="{{ path('inicio') }}">Volver</a>
                    </li>
                {% endif %}
            {% elseif seccion.item.parent is not null %}
                {% for item in seccion.item.parent.children %}
                    {% if item.title == "Noticias" %}
                    {% else %}
                        {#<li class="mwstooltip {%if item.seccion.url==url %}active{%endif%}{#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}{#" data-toggle="tooltip" data-placement="top" title="{{ item.name }}"><a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a>
                        {# </li>#}
                    {% endif %}
                {% endfor %}
                <li class="mwstooltip {#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}" data-toggle="tooltip" data-placement="top" title="{{ seccion.item.parent.name }}">
                    <a href="{{ path('seccion_front', { 'sec': seccion.item.parent.seccion.url }) }}">Volver</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>