{% block menu %}
<div class="row">
  <div class="content"> <a class="logo" href="{{ path('inicio') }}"><img id="logo" class="media-object img-responsive" src="{{ asset('bundles/cmsgaback/img/logo-ace.png') }}" alt="LOGO ACE" /></a>
    <div class="mobile-toggle"> <span></span> <span></span> <span></span></div>
    <nav>
      <ul class="main_menu">
        {% if (menu.items is defined) %}
          {% for item in menu.items %}
            {% if item.children is empty %}
              {% if item.seccion.urlExterna %}
                <li><a href="{{ item.seccion.url }}" target="_blank">{{ item.title }}</a></li>
              {% else %}
                <li><a href=".{{ item.seccion.url }}">{{ item.title }}</a></li>
              {% endif %}
            {% else %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for children in item.children %}
                    {% if children.seccion.urlExterna %}
                      <li><a href="{{ children.seccion.url }}" target="_blank">{{ children.title }}</a></li>
                    {% else %}
                      <li><a href="{{ path('seccion_front', { 'sec': children.seccion.url }) }}">{{ children.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}