{% extends "::base.html.twig" %}
{% block title %}ACE {% block backTitle %}{% endblock %}{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ACE. Sitios a Medida, Administrador de Contenidos Escalable">
    <meta name="author" content="ACE">
    <link rel="shortcut icon" href="{{ asset('bundles/cmsgafront/sitio3/ico/favicon.png') }}">
{% endblock %}

{% block stylesheets %}
    <!--Google web fonts-->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,700,600italic,200,200italic' rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/cmsgafront/sitio3/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/sitio3/css/animate.css') }}" rel="stylesheet">

    <!-- font awesome-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/sitio3/css/skillset.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/cmsgafront/sitio3/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/sitio3/css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/sitio3/css/owl.theme.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/cmsgafront/sitio3/style.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63270979-2', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

{% block body %}
    <!--preloader-->
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div> 
    <header class="main_header">
        {% block menu %}
            {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'menu', 'level': 1})) }}
        {% endblock %}
    </header>
    <!-- Container -->
    {% block container %}
        {% block carousel %}
            {{ render(controller("CmsGaFrontBundle:Default:carousel")) }}
        {% endblock %}
        {# mostrar secciones menu #}
        {% block secciones %}
            {{ render(controller("CmsGaFrontBundle:Default:menuView", {'slug': 'menu', 'level': 1, 'view': 'mostrarSecciones'})) }}
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <footer>
        {{ render(controller("CmsGaFrontBundle:Default:contacto")) }}
    </footer>
{% endblock %}

{% block bodyjavascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('bundles/cmsgafront/sitio3/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/sitio3/js/wow.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/sitio3/js/jquery.nicescroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgafront/sitio3/js/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgafront/sitio3/js/jquery.mixitup.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/sitio3/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/sitio3/js/skillset.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/sitio3/js/owl.carousel.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/sitio3/js/scrollupto.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/sitio3/js/main.js') }}"></script>
    {# AGREGUE YO #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {#<script>$('.carousel').carousel()</script>#}
    <script type="text/javascript">
        $('.mwstooltip').tooltip(); //tooltip
    </script>
{% endblock %}
