{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}Inicio{% endblock %}

{% macro contentBlock(component) %}
    {% if component.titulo is defined %}
        <div class="intro col-lg-6 col-md-6 col-sm-6">
            <div class="bs-callout">
                <span class="fecha">{{ component.fecha|localizeddate('long', 'none') }}</span>
                <h4>{{ component.titulo[:60] }}</h4>
                <div class="act">
                    {% if (component.imagenes|length) > 0 and component.imagenes[0].webPath is not null %}
                        <img src="{{ asset(component.imagenes[0].webPath|imagine_filter('noticia_inicio')) }}" />
                    {% endif %}
                </div>
                <p class="text-justify">{{ component.descripcion[:80] ~ '...'|raw }}</p>
                {% if component.pdf.filePath is not null %}
                    <a class="pull-left pdf" href="{{ asset(component.pdf.webPath) }}" download="{{ component.titulo }}.pdf">PDF</a>
                {% endif %}
                <a href="{{ path('detalle_noticia', { 'id': component.id }) }}">Leer mas</a>
                <div class="clear"></div>
            </div>
        </div>
    {% elseif component.item is defined %}
        {% if component.urlExterna == false %}
            <style type="text/css">
                .intro { height: 80px; }
                .intro .bs-callout { height: 50px; }
            </style>
            <div class="intro col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        {{ component.item.name[:120] }}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a href="{{ path('seccion_front', { 'sec': component.url }) }}">Ver secci&oacute;n</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% block medio %}
    <div class="row">
        {% for resultado in resultados %}
            {{ _self.contentBlock(resultado) }}
        {% endfor %}
    </div>
{% endblock %}