{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}Calendario Completo{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/calendar-settings.js') }}"></script>
{% endblock %}
{#% block content %}
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
{% endblock %#}
{% block container %}
    <div class="titulo">
        <div class="container">Calendario</div>
    </div>

    <div class="container">
        <div class="listing">
            <div class="row">
                {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
                <div class="clear"></div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}