<div class="slider">
	{# <div id="carousel-example-portada" class="carousel slide" data-ride="carousel"> #}
	<div id="carousel-example-layout" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
		{% for key, item in carousel %}
			{% if key == 0 %}
			    <div class="item active">
			{% else %}
			    <div class="item">
			{% endif %}
				{{ showCarouselInicio(item) }}

				{% if item.descripcion is not null %}
					<div class="carousel-caption">
		      			<div class="free">
		       				<div class="cpc">
		       					<h2>{{ item.descripcion[:200] }}</h2>
		       				</div>
		       			</div>
					</div>
				{% endif %}
			</div>
		{% endfor %}
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-layout" role="button" data-slide="prev">
		   	<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-layout" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>