{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}Contacto{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cmsgafront/css/contacto.css') }}" rel="stylesheet">
{% endblock %}
{% block container %}    
    <div class="titulo">
        <div class="container-fluid">Contacto</div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.196592039285!2d-58.98687250000001!3d-27.44925359999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf504207af5%3A0xac3c2b986e943d1!2sMarcelo+T.+de+Alvear+145!5e1!3m2!1ses!2sar!4v1401184191289" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"> 
                <div class="mensaje">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }} fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <strong>{{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% if fueEnviado %}
                        <div class="bs-callout">
                            <h3>Datos Enviados</h3>
                            <dl class="dl-horizontal">
                                <dt>Nombre y Apellido:</dt><dd> {{ entity.nombreYapellido }}</dd>
                                <dt>Teléfono:</dt><dd> {{ entity.telefono }}</dd>
                                <dt>E-mail:</dt><dd> {{ entity.email }}</dd>
                                <dt>Mensaje:</dt><dd> {{ entity.mensaje }}</dd>
                            </dl>
                        </div>
                    {% else %}
                        <h3>Mandar mensaje</h3>        
                        {{ form_start(form) }}
                            {{ form_errors(form.nombreYapellido) }}
                            {{ form_widget(form.nombreYapellido, { attr: {'placeholder':'Ingrese Nombre y Apellido', 'class': 'form-control'}}) }}  
                            {{ form_errors(form.telefono) }}
                            {{ form_widget(form.telefono, { attr: {'placeholder':'Ingrese Teléfono', 'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, { attr: {'placeholder':'E-mail', 'class': 'form-control'}}) }}
                            {{ form_errors(form.mensaje) }}
                            {{ form_widget(form.mensaje, { attr: {'placeholder':'Ingrese Mensaje', 'class': 'form-control'}} ) }}
                            <button type="submit" class="btn btn-info">Enviar</button>
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="bs-callout">
                    <h3>Datos</h3>  
                    <div class="act">
                        <p><strong>Tel. Sede SCGP: </strong>(+54) 362-4448006 - interno 8006</p>
                        <p><strong>Tel. Profym: </strong>(+54) 362-4456416<br>
                        <strong>Internos: </strong>7353/6416</p>
                        <p><strong>E-mail: </strong><a href="mailto:chacoprofym@gmail.com">chacoprofym@gmail.com</a></p>
                        <p><strong>Dirección: </strong>Marcelo T. de Alvear 145 - Resistencia, Chaco (Casa de Gobierno - 6º Piso) Resistencia - Chaco, Argentina</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="bs-callout">
                    <h3>Horarios</h3>
                    <div class="act">
                        <p><strong>Lunes a Viernes de</strong> 06:30 - 13:00 Hs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}