{% extends "@dirname/Noticia/noticia.layout.html.twig" %}

{% block bodyNoticia %}
<div class="space">
    <div class="notone">
        <div class="col-lg-4 col-md-4 col-sm-4">
            {% if noticia.imagenes | length > 0 %}
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    <img src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('noticias_detalle')) }}">
                </button>
                <br>
                <span class="mis">Click para ver mas imágenes.</span>
            {% else %}
                {#<img src="{{ asset('/bundles/cmsgabackfront/web/img/back.png'|imagine_filter('noticias_detalle')) }}">#}
            {% endif %}
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8"><h2>{{ noticia.title }}</h2>
            <br>
            <span><strong>
                Inicio {{ noticia.startDatetime|localizeddate('long', 'none') }}<br />
                Fin &nbsp;&nbsp;&nbsp;{{ noticia.endDatetime|localizeddate('long', 'none') }}<br />
                D&iacute;as:
                <ul style="margin: 5px 20px;">
                    {% for fecha in noticia.fechas %}
                        <li class="list-group-fecha">{{ fecha.dia|trans({}, 'CmsGaBackBundle') }} <span class="cuando">{{ fecha.horaInicio|date('H:i') ~ 'hs' }}</span></li>
                    {% endfor %}
                </ul>
            </strong></span>
            <span class="fecha"></span>
            <br>
            {{ noticia.descripcion }}
            <br>
            {{ noticia.contenido|raw }}
            <br>
            <a href="{{ path("inicio") }}" class="btn btn-primary">Volver</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Button trigger modal --><!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Fotos Noticia</h4>
            </div>
            <div class="modal-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for imagen in noticia.imagenes %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}" class="{% if loop.first %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    {% if noticia.imagenes | length > 0 %}     
                        <div class="carousel-inner">
                            {% for imagen in noticia.imagenes %}
                                <div class="item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset(imagen.webPath) }}" alt="">
                                    {% if imagen.descripcion is not null %}
                                        <div class="carousel-caption">{{ imagen.descripcion }}</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% for video in noticia.videos %}
                                <div class="item">
                                    {{ video.codigoIframe|raw }}
                                    {% if video.descripcion is not null %}
                                        <div class="carousel-caption">{{ video.descripcion }}</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar ventana</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
{% endblock %}