<div class="navbar-izquierda navbar navbar-default navbar-fixed-left" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-direcciones">
        <span class="sr-only">{{ seccion.item.name }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-titulo navbar-brand" href="#">{{ seccion.item.name }}</a>
    </div>
    <div class="collapse navbar-collapse" id="menu-direcciones">
    	<ul class="nav nav-pills nav-stacked">
    		<li>&nbsp;</li><li>&nbsp;</li>
			{% if (seccion.item.children is not empty) %}
				{% for item in seccion.item.children %}
					<li class="mwstooltip {#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}" data-toggle="tooltip" data-placement="top" title="{{ item.name }}"><a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a>
					</li>
				{% endfor %}
				{% if (seccion.item.level != 1) %}
					<li class="mwstooltip" data-toggle="tooltip" data-placement="top" title="{{ seccion.item.name }}">
						<a href="{{ path('seccion_front', { 'sec': seccion.item.seccion.url }) }}">Volver</a>
					</li>
				{% else %}
					<li class="mwstooltip" data-toggle="tooltip" data-placement="top" title="Inicio">
						<a href="{{ path('inicio') }}">Volver</a>
					</li>
				{% endif %}
			{% elseif seccion.item.parent is not null %}
				{% for item in seccion.item.parent.children %}
					<li class="mwstooltip {#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}" data-toggle="tooltip" data-placement="top" title="{{ item.name }}"><a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a>
					</li>
				{% endfor %}
				<li class="mwstooltip {#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}" data-toggle="tooltip" data-placement="top" title="{{ seccion.item.parent.name }}">
					<a href="{{ path('seccion_front', { 'sec': seccion.item.parent.seccion.url }) }}">Volver</a>
				</li>
			{% endif %}
		</ul>
    </div>
  </div>
</div>