<div class="row">
    <div class="col-md-12">
        <div class="menu-dos">
            <ul class="nav nav-tabs nav-justified">
                {% if (menu.items is defined) %}
                    {% for item in menu.items %}
                        {% if item.seccion.urlExterna %}
                            <li><a href="{{ item.seccion.url }}" target="_blank"><h4>{{ item.title }}</h4></a></li>
                        {% else %}
                            <li><a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="sombra"><img src="{{ asset('bundles/cmsgafront/sitio2/img/sombra.png') }}" alt="" /></div>
</div>