{% block menu %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Men&uacute;</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('inicio') }}"><img src="{{ asset('bundles/cmsgafront/sitio2/img/logotipo.jpg') }}" alt="" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                {% if (menu.items is defined) %}
                  {% for item in menu.items %}
                    {% if item.children is empty %}
                      {% if item.seccion.urlExterna %}
                        <li><a href="{{ item.seccion.url }}" target="_blank">{{ item.title }}</a></li>
                      {% else %}
                        <li><a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a></li>
                      {% endif %}
                    {% else %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          {% for children in item.children %}
                            {% if children.seccion.urlExterna %}
                              <li><a href="{{ children.seccion.url }}" target="_blank">{{ children.title }}</a></li>
                            {% else %}
                              <li><a href="{{ path('seccion_front', { 'sec': children.seccion.url }) }}">{{ children.title }}</a></li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {#<li><a href="{{ path('contacto_cmsga')}}">Contacto</a></li>#}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
{% endblock %}