{% extends "CmsGaFrontBundle::layout.html.twig" %}

{% block backTitle %}Detalle {% block noticiaCategoria %}{% endblock%}{% endblock %}

{% block container %}
<div class="container">    
    <div class="row">
        {% block bodyNoticia %}
            {% block detalleTitulo %}{% endblock %}
            {% block detalleSubTitulo %}{% endblock %}
            {% block detalleFecha %}{% endblock %}
            {% block detalleContent %}{% endblock %}
        {% endblock %}
    </div>
</div>
{% endblock %}