{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}
    {% form_theme form 'CmsGaBackBundle:Form:form-seccion.html.twig' %}
    {{ form(form) }}
{% endblock %}


{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/cmsgaback/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/noticia.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {#<script src="{{ asset('bundles/cmsgaback/js/jQuery-Slugify-Plugin/jquery.slugify.js') }}"></script>#}
    <script src="{{ asset('bundles/cmsgaback/js/seccion.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#cmsga_backbundle_seccion_urlExterna').prop('checked')) {
                $("#urlExterna").show();
                $("#cmsga_backbundle_seccion_url").prop('required', 'required');
            } else {
                $("#urlExterna").hide();
                $("#cmsga_backbundle_seccion_url").prop('required', false);
            }
        });
        $('#cmsga_backbundle_seccion_urlExterna').click(function (event) {
            if ($('#cmsga_backbundle_seccion_urlExterna').prop('checked')) {
                $("#urlExterna").show();
                $("#cmsga_backbundle_seccion_url").prop('required', 'required');
            } else {
                $("#urlExterna").hide();
                $("#cmsga_backbundle_seccion_url").prop('required', false);
            }
        });

    </script>
{% endblock %}