{% block mwsimple_dynamicmenubundle_item_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.name) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.title) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.seccion) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            {{ form_row(form.level) }}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            {{ form_row(form.orden) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.menu) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.parent) }}
        </div>
    </div>
{% endblock %}
