{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{# seccion.item.title #}Calendario Completo{% endblock %}

{% block seccionTitulo %}{# seccion.item.title #}Calendario Completo{% endblock %}

{% block seccionDescripcion %}Listados de eventos, actividades y cursos{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/menuCalendario.css') }}" rel="stylesheet">
{% endblock %}

{% block medio %}
    {{ include("@dirname/Plantilla/seccionLateralCalendario.html.twig") }}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section id="faqs" class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="listing">
                                <div class="row">
                                    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /container -->
            </section>
        </div>
    </div>
{% endblock %}

{% block bodyjavascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/calendar-settings.js') }}"></script>
{% endblock %}
