{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{% endblock %}

{% block paginaTitulo %}{% endblock %}
{% block stylesheets %}   
    {{ parent() }}
    <link href="{{ asset('bundles/cmsgafront/cpce/css/formLogin.css') }}" rel="stylesheet">
    <style type="text/css">
        .thumbnail{
            background-color: transparent !important;
            border: 0px !important;
        }

        .post
        {
            background-color: #FFF;
            overflow: hidden;
            box-shadow: 0 0 1px #CCC;
        }
        .post .content
        {
            padding: 15px;
        }
        .post .author
        {
            font-size: 11px;
            color: #737373;
            padding: 25px 30px 20px;
        }
        .post .post-img-content
        {
            height: 160px;
            position: relative;
        }
        .post .post-img-content img
        {
            position: absolute;
        }
        .post .post-title
        {
            display: table-cell;
            vertical-align: bottom;
            z-index: 2;
            position: relative;
        }
        .post .post-title b
        {
            background-color: rgba(51, 51, 51, 0.58);
            display: inline-block;
            margin-bottom: 5px;
            color: #FFF;
            padding: 10px 15px;
            margin-top: 5px;
        }
    </style>
{% endblock %}
{% block medio %}   
    <div class="container">        
        <div class="row">
            <div class="col-md-9">
                {{ render(controller("CmsGaFrontBundle:Default:carousel")) }}
                <div class="row">             
                    <br>
                    <div class="col-md-9">
                        <section>
                            <div class="row ">
                                <div class="col-sm-12 col-lg-12 col-md-12 alizarin separador separadorCategoria text-center">
                                    <p><strong>Noticias</strong></p>
                                </div>
                                {% for noticia in destacadas %}
                                    {% if (destacadas|length) > 1 %}
                                        <div class="col-sm-6 col-lg-6 col-md-6 separadorBorder">
                                            <div class="text-left" style="height: 20px;">
                                                <span><i class="icon-calendar"></i> 
                                                    {{ noticia.fecha|localizeddate('long', 'none') }}
                                                </span>
                                            </div>
                                            <div class="post">
                                                <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">
                                                    <div class="post-img-content">
                                                        {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                                            <img src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}" class="img-rounded" />
                                                            <span class="post-title">
                                                                <b>{{ noticia.titulo }}</b>
                                                            </span>
                                                        {% else %}
                                                            <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagenout_300x160')) }}" class="img-rounded" />
                                                            <span class="post-title">
                                                                <b>{{ noticia.titulo }}</b>
                                                            </span>
                                                        {% endif %}
                                                    </div>
                                                </a>
                                            </div>
                                            <br>
                                        </div>
                                    {% else %}
                                        <div class="col-sm-12 col-lg-12 col-md-12 separadorBorder">
                                            <div class="text-center" style="height: 20px;">
                                                <span><i class="icon-calendar"></i> 
                                                    {{ noticia.fecha|localizeddate('long', 'none') }}
                                                </span>
                                            </div>
                                            <div class="post" style="margin-left: 160px; margin-right: 167px;">
                                                <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">
                                                    <div class="post-img-content">
                                                        {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                                            <img src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}" class="img-rounded" />
                                                            <span class="post-title">
                                                                <b>{{ noticia.titulo }}</b>
                                                            </span>
                                                        {% else %}
                                                            <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagenout_300x160')) }}" class="img-rounded" />
                                                            <span class="post-title">
                                                                <b>{{ noticia.titulo }}</b>
                                                            </span>
                                                        {% endif %}
                                                    </div>
                                                </a>
                                            </div>
                                            <br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% for noticia in noticias %}
                                <div class="col-sm-4 col-lg-4 col-md-4 separadorBorder">
                                    <div class="thumbnail">
                                        <a href="{{ path('detalle_noticia', {'id': noticia.id }) }}">
                                            {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                                <img class="img-thumbnail" src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}" />
                                            {% else %}
                                                <img class="img-thumbnail" src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagenout_300x160')) }}" alt="">
                                            {% endif %}
                                        </a>
                                        <div class="caption" style="background: #ffffff; height: 160px;">
                                            <div class="text-left" style="height: 15px; font-size: smaller;">
                                                <span> 
                                                    {{ noticia.fecha|localizeddate('long', 'none', app.request.locale ) }}
                                                </span>
                                            </div>
                                            <div class="titulo noticia text-left" style="height: 15px;">
                                                <h7 class="tituloNoticia" style="font-size: small; font-weight: bold;">
                                                    {{ noticia.titulo[:50] ~ '...' }}
                                                </h7>
                                                <hr style="margin-top: 0px; margin-bottom: 0px;"/>
                                                <p style="font-size: small;">
                                                    {{ noticia.descripcion[:70] ~ '...' }}
                                                </p>
                                            </div>
                                            <div class="text-right" style="padding-top: 95px;">
                                                <h7 class="tituloNoticia text-right" style="font-size: small; font-weight: bold;">
                                                    {{ noticia.seccion }}
                                                </h7>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            {% endfor %}
                            </div>
                        </section>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 class="text-center tituloColumna">Interés Profesional</h4>
                                {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'interes_profesional', 'level': 1})) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4 class="text-center tituloColumna">Accesos Directos</h4>
                            {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'enlaces', 'level': 1})) }}
                        </div>
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="{{ path('calendario')}}">
                                <h4 class="text-center tituloColumna verMas">Agenda</h4>
                            </a>
                            {{ render(controller('CmsGaFrontBundle:Evento:recentEventos', {
                                'max': 10
                            })) }}
                            {{ render(controller('CmsGaFrontBundle:Actividad:recentActividades', {
                                'max': 10
                            })) }}
                            {{ render(controller('CmsGaFrontBundle:Curso:recentCursos', {
                                'max': 10
                            })) }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <section id="services" >
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 socialItem" style="background-color: #47B2F7;">
                    <div class="media">
                        <div class="pull-left">
                            <a href="https://www.facebook.com/cpcechaco" ><i class="icon-facebook icon-md" style="display: block;"></i></a>
                        </div>
                        <div class="media-body" >
                            <h3 class="media-heading">CPCE</h3>
                            <p>Facebook de la Institución</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 socialItem" style="background-color: #0085C3;">
                    <div class="media">
                        <div class="pull-left">
                            <a href="https://www.facebook.com/cjp.cpcechaco" ><i class="icon-facebook icon-md" style="display: block;"></i></a>
                        </div>
                        <div class="media-body" >
                            <h3 class="media-heading">Jóvenes Profesionales</h3>
                            <p>Facebook de Comisión Jóvenes Profesionales</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 socialItem" style="background-color: #006EB1;">
                    <div class="media">
                        <div class="pull-left">
                            <a href="{{ path('contacto_cmsga')}}" ><i class="icon-book icon-md" style="display: block;"></i></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Contacto</h3>
                            <p>Lista de e-mail y teléfonos<br></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->

{% endblock %}

{% block bodyjavascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            //Events that reset and restart the timer animation when the slides change
            $("#transition-timer-carousel").on("slide.bs.carousel", function (event) {
                //The animate class gets removed so that it jumps straight back to 0%
                $(".transition-timer-carousel-progress-bar", this)
                        .removeClass("animate").css("width", "0%");
            }).on("slid.bs.carousel", function (event) {
                //The slide transition finished, so re-add the animate class so that
                //the timer bar takes time to fill up
                $(".transition-timer-carousel-progress-bar", this)
                        .addClass("animate").css("width", "100%");
            });
            //Kick off the initial slide animation when the document is ready
            $(".transition-timer-carousel-progress-bar", "#transition-timer-carousel")
                    .css("width", "100%");
           
            $(".verMas").hover(
                    function () {
                        resgTitulo = $(this).text();
                        $(this).text($(this).text() + ' ver más...');
                    }, function () {
                $(this).text(resgTitulo);
            }
            );
        });
    </script>
{% endblock %}