<div class="well">
    <h4>Cantidad de visitas</h4>
    {% for key,cv in countvisits %}
        {% if key == 'day' %}
            Hoy:<span class="badge pull-right">{{ cv }}</span>
            <br>
        {% elseif key == 'month' %}
            Mes:<span class="badge pull-right">{{ cv }}</span>
            <br>
        {% elseif key == 'year' %}
            A&ntilde;o:<span class="badge pull-right">{{ cv }}</span>
            <br>
        {% elseif key == 'total' %}
            Total:<span class="badge pull-right">{{ cv }}</span>
        {% endif %}
    {% endfor %}
</div>