{% macro seccion0Block(component) %}
  <div class="col-md-3">
    <div class="single_service">        
      <div class="ico"><i class="fa fa-mobile"></i></div>
      <h2>{{ component.titulo[:60] }}</h2>
      <p>{{ component.descripcion[:300] ~ '...'|raw }}</p>
    </div>
  </div>
{% endmacro %}

{% block medio %}
  <div class="container">
    <div class="row">
      <div class="service_section wow bounceInLeft animated">
        {% if seccion.item.level == 1 and seccion.item.menu.nameSlug != "oculto" %}
            {% for key, noticia in seccion.noticias %}
            {#% for key, noticia in seccion.noticias if key < 6 %#}
                {{ _self.seccion0Block(noticia) }}
            {% endfor %}
        {% endif %}
        <div class="clear"></div>
      </div>
    </div>
  </div>
{% endblock %}