{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block form %}    
    {% form_theme edit_form 'CmsGaBackBundle:Form:form-plantilla.html.twig' %}
    {{ form(edit_form) }}
{% endblock %}