.formBuscar .modal {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.8); 
}

.formBuscar .modal-dialog {
    top: 20%;
    width: 100%;
    position: absolute;
}
.formBuscar .modal-content  {
    border-radius: 0px;
    border: none;
    top: 40%;
}
.formBuscar .modal-body {
    background-color: #006EB1;
    color: white;
}
.inputBuscar{
    width: 100% !important;
}