/*LAYOUT*/
.wet-bodyFooter{
    background-color: #006eb1;
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
}
.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    margin-bottom: -4%;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

/*INICIO*/
.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 95%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(95%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 95%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 95%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 95%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 95%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10%;
    text-align: left;
    width: 100%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
    margin-top: 0;
    font-size: 36px;
}

@media (min-width: 970px) {
    .transition-timer-carousel .carousel-indicators {
        bottom: 0px;
        margin-bottom: 5px;
    }
    .transition-timer-carousel .carousel-control {
        z-index: 11;
    }
    .transition-timer-carousel .transition-timer-carousel-progress-bar {
        height: 5px;
        background-color: #0085C3;
        width: 0%;
        margin: -5px 0px 0px 0px;
        border: none;
        z-index: 11;
        position: relative;
    }
    .transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
        /* We make the transition time shorter to avoid the slide transitioning
        before the timer bar is "full" - change the 4.25s here to fit your
        carousel's transition time */
        -webkit-transition: width 4.25s linear;
        -moz-transition: width 4.25s linear;
        -o-transition: width 4.25s linear;
        transition: width 4.25s linear;
    }
    body {
        padding-top: 120px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    .thumbnail img{
        height:150px;
    }
    .styleSeccionLateral{
        background-color: #0054a6 !important;
        color:#fff !important;
    }
    .styleSeccionLateralBtn {
        background-color: #000304 !important;
        color:#fff !important;
    }
    .tituloNoticeCarrousel{
        color: #fff;
    }
    /*MENU PRINCIPAL*/
    .menuPrincipal .nav a:hover {
        background-color: #085299 !important;
        border-radius: 4px !important;
        padding-bottom: 7px !important;
        padding-top: 7px !important;
    }
    .separador  a{
        color: #fff;
    }
    .carousel a:hover,.wet-bodyFooter a:hover{
        color: #c9d8de;
    }
    .wet-bodyFooter a{
        color: #fff;
    }
    .separadorBorder{
        border-right: 1px solid #ccc !important;
    }

    #services{
        margin-top: 15px;
        color: #fff;
    }
    .tituloColumna{
        border-bottom: 1px solid #006EB1;
    }
    .tituloNoticia {
        font-size: 18px;
        font-weight: bold;
        height: 48px;
        overflow: hidden;
    }
    .descripcionNoticia {
        height: 100px;
        overflow: hidden;
        text-align: justify;
    }
    .btn-group-justified{
        width: auto !important;
    }
}
/*.btn-group{
    vertical-align: bottom !important;
}*/