/* 
Inspired by http://dribbble.com/shots/890759-Ui-Kit-Metro/attachments/97174
*/
*, *:before, *:after {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box; 

    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;

    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}
body {
    padding-top: 0px;
}
.btn-nav {
    font-weight: bold;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.btn-group-justified:hover .btn-nav {
    background-color: #FFF;
}
.btn-nav:hover {
    color: #47B2F7;
    cursor: pointer;
    -webkit-transition: border 0.2s ease-out, color 0.2s ease 0.2s;
    -moz-transition: border 0.2s ease-out, color 0.2s ease 0.2s;
    -ms-transition: border 0.2s ease-out, color 0.2s ease 0.2s; /* IE10 is actually unprefixed */
    -o-transition: border 0.2s ease-out, color 0.2s ease 0.2s;
    transition: border 0.2s ease-out, color 0.2s ease 0.2s;
    content: '';
    border-style: solid;
    border-width: 6px;
    border-color: #006EB1 transparent;
    border-left: 0;
    border-right: 0;
    z-index: 1;
    font-weight: bold;
}
.btn-nav.active {
    color: #47B2F7;
    //  padding: 2px;
    border-top: 6px solid #006EB1;
    border-bottom: 6px solid #006EB1;
    border-left: 0;
    border-right: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.btn-nav.active:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #006EB1 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    top: 0;
    left: 50%;
}
.btn-nav .glyphicon {
    padding-top: 16px;
    font-size: 40px;
}
.btn-nav.active p {
    margin-bottom: 8px;
}
@-webkit-keyframes pulsate {
    50% { color: #000; }
}
@keyframes pulsate {
    50% { color: #000; }
}
@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
}
#logoHome{
    background-color: transparent !important;
    display: table-cell;
    float: none;
    width: 2%;
    position: relative;
    vertical-align: middle;
}
/*#menuPrincipal{
    margin-bottom: 0%;
}*/
.btn-nav p{
    padding-top: 16px;
    line-height: 2.6;
}
.navbar{
    background-color: transparent;
    margin-bottom: 0px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
#logo{
    display: none;
}