<div id="carousel-example-portada" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	{#<ol class="carousel-indicators">
		{% for key,item in carousel %}
			<li data-target="#carousel-example-portada" data-slide-to="{{ key }}"
				{% if key == 0 %}
				    class="active"
				{% else %}
				    class=""
				{% endif %}
			></li>
		{% endfor %}
	</ol>#}
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		{% for key, item in carousel %}
			{% if key == 0 %}
			    <div class="item active">
			{% else %}
			    <div class="item">
			{% endif %}
				{{ showCarouselInicio(item) }}

				{% if item.descripcion is not null %}
					<div class="carousel-caption">
						{{ item.descripcion[:30] }}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	<!-- Controls -->
	<!-- <a class="left carousel-control" href="#carousel-example-portada" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-portada" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right"></span>
	</a>-->
     <div class="headTitle">
        <!-- <div class="container-fluid"> -->
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                    <img id="logo" src="{{ asset('bundles/cmsgafront/sitio1/img/scgp.png') }}" class="img-responsive">
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 degrade">
                    <h1><strong><small>Subsecretaría de</small><br>
                    COORDINACIÓN Y GESTIÓN PÚBLICA</strong></h1>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>
