<h3>Datos almacenados en Agenda de contactos</h3>
    <label><strong>Nombre y Apellido:</strong><label> {{ entity.nombreYapellido }}<br>
    <label><strong>Teléfono:</strong><label> {{ entity.telefono }}<br>
    <label><strong>E-mail:</strong><label> {{ entity.email }}<br>
    <label><strong>Mensaje:</strong><label> {{ entity.mensaje }}<br>
