<ul class="nav nav-pills nav-stacked nav-banner">
	{% if (menu.items is defined) %}
		{% for item in menu.items %}
            <li class="mwstooltip {#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}" data-toggle="tooltip" data-placement="top" title="{{ item.name }}">
                {% if item.seccion.urlExterna and item.seccion.imagenes|length > 0 %}
                    <div class="banner-izquierda">
                        {{ item.title }}
                        <a href="{{ item.seccion.url }}" target="_blank">
                            <img alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath) }}">
                        </a>
                    </div>
                {% elseif item.seccion.urlExterna %}
                    <a class="banner-izquierda" href="{{ item.seccion.url }}" target="_blank">{{ item.title }}</a>
                {% else %}
				    <a class="banner-izquierda" href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a>
                {% endif %}
            </li>
		{% endfor %}
	{% endif %}
</ul>