<div class="navbar-header"><h3>Enlaces</h3></div><br><br><hr>
<ul class="nav nav-pills nav-stacked nav-banner">
	{% if (menu.items is defined) %}
		{% for item in menu.items %}
                {% if item.seccion.urlExterna and item.seccion.imagenes|length > 0 %}
                    <li class="mwstooltip" data-toggle="tooltip" data-placement="top" title="{{ item.name }}">
                        <div class="banner">
                            <a href="{{ item.seccion.url }}" target="_blank">
                                <img alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath) }}">
                            </a>
                        </div>
                    </li>
                {% elseif item.seccion.urlExterna %}
                    <li class="mwstooltip enlace" data-toggle="tooltip" data-placement="top" title="{{ item.name }}">
                        <a class="enlace" href="{{ item.seccion.url }}" target="_blank">{{ item.title }}</a>
                    </li>
                {% else %}
                    <li class="mwstooltip enlace" data-toggle="tooltip" data-placement="top" title="{{ item.name }}">
				        <a class="enlace" href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a>
                    </li>
                {% endif %}
		{% endfor %}
	{% endif %}
</ul>