{% block menu %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Men&uacute;</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Men&uacute;</a> -->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
          <li class="active"><a href="{{ path('inicio') }}"><span class="glyphicon glyphicon-home"></span></a></li><div class="line"></div>
        {% if (menu.items is defined) %}
          {% for item in menu.items %}
            {% if item.children is empty %}
              <li class="{#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}"><a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a>
            </li>
              <div class="line"></div>
            {% else %}
              <li class="dropdown {#% if (route in cursos) %}active{% endif %#}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for children in item.children %}
                    <li><a href="{{ path('seccion_front', { 'sec': children.seccion.url }) }}">{{ children.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <div class="line"></div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <div class="line"></div>
          <li>
              <a href="{{ path('contacto_cmsga')}}">Contacto</a>
          </li>
      </ul>
      {{ render(controller("CmsGaFrontBundle:Default:buscadorContenido")) }}
    </div>
  </div><!-- /.navbar-collapse -->
</div>
{% endblock %}
