{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% macro contentBlock(component) %}
    <div class="intro col-lg-6 col-md-6 col-sm-6">
        <div class="bs-callout">
            <span class="fecha">{{ component.fecha|localizeddate('long', 'none') }}</span>
            <h4>{{ component.titulo[:60] }}</h4>
            <div class="act">
                {% if (component.imagenes|length) > 0 and component.imagenes[0].webPath is not null %}
                    <img src="{{ asset(component.imagenes[0].webPath|imagine_filter('noticia_inicio')) }}" />
                {% endif %}
            </div>
            <p class="text-justify">{{ component.descripcion[:80] ~ '...'|raw }}</p>
            {% if component.pdf.filePath is not null %}
                <a class="pull-left pdf" href="{{ asset(component.pdf.webPath) }}" download="{{ component.titulo }}.pdf">PDF</a>
            {% endif %}
            <a href="{{ path('detalle_noticia', { 'id': component.id }) }}">Leer mas</a>
            <div class="clear"></div>
        </div>
    </div>
{% endmacro %}

{#% block stylesheets %}
    {{ parent() }}
    <style>
        .notone a {
            background-color: rgba(142, 219, 52, 0.15);
    		    color: #72B61F;
    		    display: block;
    		    font-size: 25px;
    		    font-style: italic;
    		    padding: 0;
    		    border: none;
    		    float: none;
    		    width: auto;
    		}
        .notone .col-lg-12,
    		.notone .col-md-12,
        .notone .col-sm-12 {
    			 padding: 0 !important;
    		}
    </style>
{% endblock %#}

{% block izquierda %}
    {{ include("@dirname/Default/direccionesSubmenu.html.twig", {'seccion': seccion}) }}
{% endblock %}
{% block medio %}
    {#<div class="titulo">
        <div class="container">{{ seccion.titulo }}</div>
    </div>#}
    <div class="row">
      {% if seccion.item.level == 1 and seccion.item.menu.nameSlug != "oculto" %}
          {% for key, noticia in seccion.noticias if key < 6 %}
              {{ _self.contentBlock(noticia) }}
          {% endfor %}
      {% else %}
					<div class="col-lg-12 col-md-12 col-sm-12">
            <div style="overflow: hidden;">
						  {{ seccion.contenido|raw }}
            </div>
  				</div>
					{% if (seccion.imagenes|length) > 0 %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10">
            	<span class="one" data-toggle="modal" data-target="#myModal">
	                <a href="#" data-toggle="modal" data-target="#myModal">
	                    <img src="{{ asset(seccion.imagenes[0].webPath) }}" class="img-responsive">
                      <span class="mis">Click para ver mas imágenes.</span>
	                </a>
                </span>
            </div>
	        {% endif %}
					<div class="clear"></div>
      {% endif %}
		</div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Fotos {{ seccion.item.title }}</h4>
          </div>
          <div class="modal-body">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% for key,item in seccion.imagenes %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ key }}"
                      {% if key == 0 %}
                          class="active"
                      {% else %}
                          class=""
                      {% endif %}
                    ></li>
                  {% endfor %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% for key,item in seccion.imagenes %}
                    {% if key == 0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                      {{ showCarousel(item) }}
                      <div class="carousel-caption">
                        <p>{{ item.descripcion }}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar ventana</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div>
{% endblock %}