{% extends 'FOSUserBundle::header.html.twig' %}
{% set header_title = "Bienvenido al Panel de Administración" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{{ parent() }}
<div class="row-fluid">
  <div class="span5 offset3">
    {% if error %}
      <div class="alert-error">{{ error|trans }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" >
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="control-group">
            <label class="control-label" for="username">
                {{ 'security.login.username'|trans }}
            </label>
            <div class="controls">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Ingrese usuario" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">
                {{ 'security.login.password'|trans }}
            </label>
            <div class="controls">
                <input type="password" id="password" name="_password" required="required" placeholder="Ingrese contraseña"/>
            </div>
        </div>
        {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
        {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
        <div class="control-group">
            <div class="controls">
                <input type="submit" id="_submit" name="_submit" class="btn btn-success" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </div>
    </form>
  </div>
</div>
{% endblock fos_user_content  %}
