{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block panelFooter %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <a class="btn btn-success " href="{{ path(config.new) }}">
                {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
            <a class="btn btn-default" href="{{ path('admin_categoria') }}">
                Categorias
            </a>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        var table;
        $("#reset_index_filters").click(function () {
            $(".reset_submit_filters").trigger("click");
        });
        $(document).ready(function () {
            table = $('#tablaPrincipal').dataTable({
                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                "ajax": {
                    "url": "{{ path(config.getTable) }}",
                },
                "aoColumnDefs": [
                    {
                        "render": function (data, type, row) {
                            return  '{{url('inicio')}}' + "uploads/" + row[4] + "/archivos/" + data;
                        },
                        "targets": [3]
                    },
                    {
                        "mRender": function (data, type, row) {
                            var acciones = "";
                            var array = [
                                '<a  href="' + Routing.generate('{{ config.show }}', {id: row[0]}) + '" title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-search"></span></a>',
                                '<a  href="' + Routing.generate('{{ config.edit }}', {id: row[0]}) + '" title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-pencil"></span></a>',
                            ];
                            acciones = array.join("");
                            return acciones;
                        },
                        "aTargets": [{{ config.fieldsindex|length }}]
                    },
                    {
                        "targets": [0],
                        "visible": false
                    },
                    {
                        "targets": [4],
                        "visible": false
                    },
                ],
                "fnDrawCallback": function (oSettings) {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });
        });

    </script>
{% endblock %}