{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}
{% block page %}

    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="control-label">Categoria</label>
                            <div class="form-control">                  
                                <span class="input-xlarge uneditable-input">{{ entity.categoria }}</span>        
                            </div>
                        </div>    
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="control-label">Url</label>
                            <p>
                                {{ url('inicio') ~ entity.webPath }}</span>        
                            </p>
                        </div>    
                    </div>
                    <div class="row well">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Descripción</label>
                            <p>
                                {{ entity.Descripcion}}    
                            </p>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <div class="float-left col-lg-3 col-md-3 col-sm-3">
                        <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                        </a>
                    </div>
                    <div class="float-left col-lg-3 col-md-3 col-sm-3">
                        <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                            {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                        </a>
                    </div>
                    <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}