{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block menu %}{% endblock %}

{% block fos_user_content %}
<div class="row-fluid">
  <div class="span6 offset3">
    <div class="bs-docs-section">
      <div class="page-header">
        <div class="media">
          <div>
            <img id="logo" style="height: 126px;" class="media-object" src="{{ asset('bundles/cmsgaback/img/logo-ace.png') }}" alt="LOGO ACE" />
            <small>Administrador de Contenidos Escalable</small>
          </div>
          <div class="media-body">
            <h2>Administraci&oacute;n del Sitio</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock fos_user_content  %}
