{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block form %}
    {% form_theme edit_form 'MWSimpleDynamicMenuBundle:Form:form-item.html.twig' %}
    {{ form(edit_form) }}
{% endblock %}