{% extends "@dirname/Plantilla/organizacion.html.twig" %}
{% block  contenidoOrganizacion  %}
    <section id="portfolio" class="container">
        <ul class="portfolio-filter">
            {% for key, noticia in seccion.noticias %}
                {% if (key==0) %}
                    <li><a class="btn btn-default" href="javascript:;" data-filter="*">Todos</a></li>
                    {% else %}
                    <li><a class="btn btn-default" href="javascript:;" data-filter=".{{noticia.descripcion}}">{{noticia.descripcion}}</a></li>
                    {% endif %}
                {% endfor %}
        </ul><!--/#portfolio-filter-->

        <ul class="portfolio-items col-3">
            {% for key, noticia in seccion.noticias %}
                <li class="portfolio-item {{noticia.descripcion}}">
                    <div class="item-inner">
                        <img class="img-responsive img-blog"   width="100%" src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagen_alto300')) }}" />
                        <h5>{{ noticia.titulo|raw }}</h5>
                        <div class="overlay">
                            <a class="preview btn btn-danger" href="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagen_alto300')) }}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                        </div>           
                    </div>           
                </li><!--/.portfolio-item-->
            {% endfor %}
        </ul>
    </section><!--/#portfolio-->
{% endblock %}

{% block bodyjavascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/cmsgafront/cpce/js/jquery.isotope.min.js') }}"></script>

{% endblock %}