<div class="widget widget-popular">
    <div class=" widget-blog-items">
        {% if entity is empty %}
            {#
            <p class="alert alert-info">0 {{ titulo }}</p>
            }
            #}
        {% else %}
            {% for evento in entity %}
                <div class="widget-blog-item media">
                    <div class="pull-left">
                        <a href="{{ path(path_detalle, { 'id': evento.id }) }}">
                            <div class="date">
                                <span class="month">{{ evento.startDatetime|localizeddate("medium", "none", null, null, "LLL") }}</span>
                                <span class="day">{{ evento.startDatetime|date("d") }}</span>
                            </div>
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="{{ path(path_detalle, { 'id': evento.id }) }}">
                            <h5>
                                <strong>
                                    {% if evento.category %}{{ evento.category }}{% else %}{{ subTituloAgenda }}{% endif %}
                                </strong> {{ evento.title }}
                            </h5>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>