{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block form %}    
    {% form_theme edit_form 'CmsGaBackBundle:Form:form-imagenPortada.html.twig' %}
    {{ form(edit_form) }}
{% endblock %}
{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnClearFechaImagenPortada").click(function () {
            $("#cmsga_backbundle_imagenportada_finPublicacion_day").val("");
            $("#cmsga_backbundle_imagenportada_finPublicacion_month").val("");
            $("#cmsga_backbundle_imagenportada_finPublicacion_year").val("");
        });
    </script>
{% endblock %}  
