{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/cmsgaback/lightbox/css/lightbox.css') }}" rel="stylesheet">
{% endblock %}
{% block page %}
    <div class="row">
        {#<div class="col-lg-2 col-md-2 col-sm-6">
            {% if filterForm.vars.errors|length > 0 %}
            <div class="alert alert-block alert-danger fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
            {% endif %}
            &nbsp;
        </div>#}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="filters-right">
                {#<a class="btn btn-success" href="{{ path(config.new) }}">
                    {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </a>#}
                <!-- Single button -->
                {# <div class="btn-group">
                     <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                         {{ 'views.index.export'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu" role="menu">
                         <li><a href="{{ path(config.export, { 'format': "xls" }) }}">EXCEL</a></li>
                         <li><a href="{{ path(config.export, { 'format': "csv" }) }}">CSV</a></li>
                         <li><a href="{{ path(config.export, { 'format': "json" }) }}">JSON</a></li>
                     </ul>
                 </div>#}
                {#<a id="reset_index_filters" class="btn btn-danger">
                    {{ 'views.index.reset'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    <span class="caret"></span>
                </a>#}
            </div>
        </div>
        {#<div class="col-lg-12 col-md-12 col-sm-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form_start(filterForm) }}
                    {{ form_end(filterForm) }}
                </div>
            </div>
        </div>#}
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    {{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-download-alt" style="margin-right: 0px;"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li><a href="{{ path(config.export, { 'format': "xls" }) }}">EXCEL</a></li>
                                <li><a href="{{ path(config.export, { 'format': "csv" }) }}">CSV</a></li>
                                <li><a href="{{ path(config.export, { 'format': "json" }) }}">JSON</a></li>
                            </ul>
                        </div>
                    </div>
                </h4>
            </div>
            <div class="panel-body">
                <form id="form" action="{{path('admin_imagenportada_guardarCambios')}}" method="POST">
                    <table id="tablaPrincipal" class="table table-striped">
                        <thead>
                            <tr>
                                {% for key, field in config.fieldsindex %}
                                    <th data-field="{{key}}" data-sortable="true">{{ field.label }}</th>
                                    {% endfor %}
                                <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                            </tr>
                        </thead>
                    </table>
                </form>
            </div>
            <div class="panel-footer">
                {#<div class="col-lg-12 col-md-12 col-sm-12 navigation">
                  {{ knp_pagination_render(entities) }}
               </div>#}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a class="btn btn-success " href="{{ path(config.new) }}">
                            {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                        </a>
                        <button id="btnGuardarCambios" class="btn btn-default" type="button">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/cmsgaback/lightbox/js/lightbox.min.js') }}"></script>
    <script type="text/javascript">
        $('.tooltips').tooltip();
        var table;
        $("#btnGuardarCambios").click(function () {
            $("#form").submit();
        });
        $(document).ready(function () {
            table = $('#tablaPrincipal').dataTable({
                "processing": true,
                "serverSide": true,
                "order": [[2, "desc"],[0, "asc"]],
                "ajax": {
                    "url": "{{ path(config.getTable) }}",
                },
                "aoColumnDefs": [
                    {
                        "mRender": function (data, type, row) {
                            var acciones = "";
                            var array = [
                                '<a  href="' + Routing.generate('{{ config.show }}', {id: row[0]}) + '" title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-search"></span></a>',
                                '<a  href="' + Routing.generate('{{ config.edit }}', {id: row[0]}) + '" title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-pencil"></span></a>',
                            ];
                            acciones = array.join("");
                            return acciones;
                        },
                        "aTargets": [{{ config.fieldsindex|length }}]
                    },
                    {
                        "render": function (data, type, row) {
                            $checked = (data === "1") ? 'checked' : '';
                            return '<input name="ImagenPortadaPublicado[' + row[0] + ']" type="checkbox"  ' + $checked + '/>';
                        },
                        "targets": [3]
                    },
                    {
                        "render": function (data, type, row) {
                            return '<input name="ImagenPortadaOrden[' + row[0] + ']" type="number" value="' + data + '"/>';
                        },
                        "targets": [2]
                    },
                    {
                        "targets": [0],
                        "visible": false
                    },
                    {
                        "render": function (data, type, row) {
                            return '<a class="example-image-link" href="{{folder}}' + data + '" data-lightbox="ImagenPortada-set" >' +
                                    '<img  src="{{folder}}' + data + '" width="55px;"/>' +
                                    '</a>';
                        },
                        "targets": [4]
                    },
                ],
                "fnDrawCallback": function (oSettings) {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });
        });
    </script>
{% endblock %}