{% block bootstrapdatetime_widget %}
<div class="input-append date form_datetime" {#style="display: inline-block;"#} data-date="{{ value }}" id="{{ id }}_dtpicker">
    <input size="16" type="text" value="{{ value }}"{% if required %} required="required"{% endif %} readonly style="width: 178px;">                         
    {% if not required %}      
    <span class="add-on"><i class="icon-remove"></i></span>
    {% endif %}                
    <span class="add-on"><i class="icon-th"></i></span>
</div>
<input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
      
<script type="text/javascript">
(function($){
    var ${{ id }}_dtp = $("#{{ id }}_dtpicker"),
            {{ id }}_dtp_options = {{ options|raw }};
        
    {{ id }}_dtp_options['linkField'] = "{{ id }}";
    {{ id }}_dtp_options['linkFormat'] = "yyyy-mm-dd hh:ii";
    {{ id }}_dtp_options['pickerPosition'] = "bottom-left";

    ${{ id }}_dtp.datetimepicker({{ id }}_dtp_options).datetimepicker('show').datetimepicker('hide');
})(jQuery);
</script>
{% endblock %}    
