{% block document_file_widget %}
    {% spaceless %}
<div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">

        {% if file_url is not null %}
        <img src="{{ asset(file_url) }}" />
        {% else %}
        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
        {% endif %}
    </div>

    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
    </div>
    {% if value is not empty %}<br>/{{ file_url }}{% endif %}
  <div>
    <span class="btn btn-file">
        <span class="fileupload-new">Seleccionar</span>
        <span class="fileupload-exists">Cambiar</span>
        <input type="{{ type }}" {{ block('widget_attributes') }}
              {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
  </div>
</div>
    {% endspaceless %}
{% endblock %}
