body
{
	font-family: 'Cabin', sans-serif;
	background: url(../img/cream_dust.png);
}

.navbar-default {
background-color: #042F62;
-moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
border-bottom: #357BC1 solid 3px;
}

.navbar-default .navbar-nav > li > a {
color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
color: #357BC1;
}

h3, header
{color: #000000;}

.navbar-default .navbar-brand {
color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #555555;
background-color: #357BC1;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ffffff;
background-color: #357BC1;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}

.navbar-default .navbar-toggle {
border-color: #ffffff;
}

header {
	margin-top: 60px;
	margin-bottom: 25px;
	padding-bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
}

.marca img {
	width: 100px;
}

.marca {font-size: 30px;}

.intro a, .not a {
	padding: 5px;
	display: block;
	background-color: #428bca;
	color: white;
	padding-left: 15px;
	width: 100px;
	float: right;
	border: #50A6F3 solid 3px;
	border-radius: 2px;
}

.intro a.pdf, .not a.pdf, .notone a.pdf {
	background-color: #216AA9;
	width: 60px;
}

.intro a:hover, .not a:hover, .notone a:hover{
	background-color: #50A6F3;
	text-decoration: none;
}

/*.intro a {margin-top: 10px;}*/

.pr {
	font-size: 18px;
	background-color: rgba(142, 219, 52, 0.075);
	padding: 15px;
}

.pr img 
{}

.pr h3
{font-size: 40px;}

.pr a{font-size: 15px;}

.intro {
	font-size: 14px;
	-moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	color: #555;
	padding: 15px;
	margin-bottom: 5px;
	background-color: rgba(255, 255, 255, 0.4);
	border: #ffffff solid 2px;
	height: 430px;
}
.intro .bs-callout {
	height: 400px;
}

.slider
{
	margin-bottom: 10px;
}

.act li {
background-color: rgba(18, 136, 182, 1);
list-style: none;
padding: 10px;
margin-bottom: 2px;
margin-left: -40px;
display: block;
border-bottom: 1px #fff solid;
color: white;
}

.cuando {
font-size: 12px;
float: right;
}

.dies {
	background-color: rgba(52, 172, 219, 0.15);
	padding: 10px;
	padding-top: 2px;
	-moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	color: rgba(18, 136, 182, 1);
}
.medio {
    /*background-color: rgba(52, 172, 219, 0.15);*/
	/*padding: 10px;*/
	/*padding-top: 2px;*/
	-moz-box-shadow: 0 0 5px 5px #042F62;
	-webkit-box-shadow: 0 0 5px 5px #042F62;
	box-shadow: 0 0 5px 5px #042F62;
	/*color: rgba(18, 136, 182, 1);*/
}

.intro img, .not img
{
	width: 100%;
	background-color: white;
	padding: 5px;
	border: 1px #eeeeee solid;
	margin-bottom: 10px;
}


.fecha{
	color: #aaaaaa;
	font-size: 12px;
	display: block;
}

.not
{display: block;
padding-bottom: 30px;
margin-bottom: 30px;
clear: both;
border-bottom: 1px #eeeeee solid;
}

.titulo
{
	padding-top: 65px;
	padding-bottom: 18px;
	font-size: 50px;
background-color: rgba(255, 255, 255, 0.6);	padding-left: 25px;
	margin-bottom: 20px;
	-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
color: #042F62;
}

.separar
{height: 50px;
clear: both;}
.not img 
{
	width: 100%;
	background-color: white;
	padding: 5px;
	margin-bottom: 10px;
}

.not h3
{margin-bottom: 0px;}

.clear
{clear: both;}
.banners
{margin-top: 25px;}

.banner {
	font-size: 25px;
	/*background-color: rgba(142, 219, 52, 0.15);*/
	/*color: #ffffff;*/
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
	margin-bottom: 5px;
}

h3, h4, header, .titulo
{
	font-family: 'Cabin', sans-serif;
}


footer
{
	margin-top: 25px;
	text-align: center;
	font-size: 12px;
	color: #444;
	border-top: #357BC1 4px solid;
}


.btn-primary img {
color: #ffffff;
background-color: #ffffff;
border-color: #eeeeee;
}

.pr .btn-primary 
{width: 100%;}

.btn-lg {
padding: 0px;
font-size: 18px;
line-height: 1.33;
border-radius: 0px;
}
.btn-primary {
color: #ffffff;
background-color: #ffffff;
border-color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: #ffffff;
border-color: #ffffff;
}

.mis
{font-size: 11px;
text-align: center;
color: #aaa;}

.marcapie img 
{width: 80px;}

footer
{
	background-color: #042F62;
	padding: 0px;
	padding: 10px;
	color: white;
}

.notone
{margin-bottom: 25px;}

 .marca{
 	text-align: center;
 	font-size: 23px;
 }

 .not a
{margin-bottom: 30px;
}

.dropdown-menu > li > a {
/*color: #ffffff;*/
font-size: 13px;
line-height: 1.9;
}

.titulo
{
	font-size: 30px;
}

.fc-header-right {
text-align: left;}

.fc-header-left {
font-size: 20px;
width: 100%;
display: block;
}

.sede
{width: 100%;
	float: none;}
}


.dropdown-menu > li > a {
color: #042F62;
font-size: 13px;
font-weight: bold;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #ffffff;
background-color: #357BC1;
}

.line 
{width: 1px;
height: 50px;
background-color: #3D8ADA;
float: left;}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
color: #ffffff;
text-decoration: none;
background-color: #357BC1;
outline: 0;
}

.social {
	background-color: #FFFFFF;
    bottom: 30px;
    float: right;
    margin-right: 10px;
    /*position: fixed;*/
    right: 0;
    width: 32px;
}

.social img {
	width: 32px;
	margin-bottom: 3px;
	opacity: 0.4;
}

.social img:hover {
	opacity: 1;
	cursor: pointer;
}

.modal-title {
color: #042F62;
font-size: 30px;
}

#loading {
		position: absolute;
		top: 5px;
		right: 5px;
		}

#calendar {
		width: 100%;
		margin: 0 auto;
		}

.evento
{
	margin-left: auto;
	margin-right: auto;	
background-color: rgba(142, 219, 52, 0.075);	padding: 15px;
margin-bottom: 15px;
}

.evento .fecha
{background-color: rgba(142, 219, 52, 0.075);
font-size: 14px;
display: block;
padding: 7px;
color: #000000;
border-bottom: white 2px solid;
font-weight: bold;
}

.eventone
{
	margin-left: auto;
	margin-right: auto;	
background-color: rgba(142, 219, 52, 0.35);	padding: 15px;
margin-bottom: 15px;
-ms-transform: scale(1.085);
  -webkit-transform: scale(1.085);
  -moz-transform: scale(1.085);
  -o- transform: scale(1.085);
  transform: scale(1.085);
  -moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
border: solid 5px white;
text-shadow: 1px 2px 1px #FFFFFF;
}

.eventone .fecha
{background-color: rgba(142, 219, 52, 0.25);
font-size: 14px;
display: block;
padding: 7px;
color: #000000;
border-bottom: white 2px solid;
font-weight: bold;
}

.creacion
{font-size: 12px;
display: block;
padding: 7px;
margin-top: -15px;
opacity: 0.5;
padding-left: 0px;
}

.evento h4 .eventone h4
{margin-bottom: 0px;}

.eventone h3
{margin-top: 0px;
font-size: 30px;
color: black;}

.evento img 
{
	display: block;
	width:130px;
	margin-top: 20px;
	border: white 4px solid;
}

.autoridades
{background-color: rgba(142, 219, 52, 0.15);
padding: 20px;
color: #555;
text-align: center;}

.autoridades img 
{width: 100%;
	background-color: white;
	padding: 7px;
	border: #ccc solid 1px;
}

.autoridades h4
{margin-bottom: 0px;}

.one 
{
	font-size: 25px;
	font-style: italic;
	padding: 20px;
	background-color: rgba(52, 172, 219, 0.15);
	display: block;
	color: #042F62;
}

.sede img 
{	width: 100%;padding: 7px;
 
}

.sede
{width: 48%;float: left;-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
margin: 3px;
background-color: rgba(255, 255, 255, 0.75);}

.modal-body img 
{width: 100%;}

iframe
{ width: 100%;
height: 350px;
background-color: rgba(255, 255, 255, 0.40);
padding: 10px;margin-bottom: -5px;
border: solid 1px rgba(255, 255, 255, 0.60);
-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

.mensaje input
{
  margin-bottom: 8px; 
}

.mensaje .btn-info 
{
  margin-bottom: 5px; 
  margin-top: 20px;
  margin-right: 10px;
}

.datos
{margin-top: 15px;
	background-color: rgba(142, 219, 52, 0.075);
padding: 20px;
margin-bottom: 15px;
padding-top: 5px;
}

.space 
{padding-top: 70px;}

.intros 
{font-size: 22px;
font-weight: bold;
color: #042F62;
}

.act9
{float: left;
width: 23%;
margin-right: 7px;}

.act9 img 
{width:97%;-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
margin: 3px;
background-color: rgba(255, 255, 255, 0.75);
padding: 10px;
}

.dies-2 {
background-color: rgba(117, 219, 36, 0.15);
padding: 10px;
padding-top: 2px;
-moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
color: #042F62;
}

.act-2 li {
background-color: rgba(0, 167, 27, 1);
list-style: none;
padding: 10px;
margin-bottom: 2px;
margin-left: -40px;
display: block;
border-bottom: 1px #fff solid;
color: white;
border-radius: 3px;
}

.banner img {
width: 90%;
}
/* inicio carusel  */
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    /*height: auto;*/
    height: 260px;
    width: 100%;
    /*opacity: 0.7;*/
    background-color: black;
}
/* fin carusel */
