{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{% endblock %}

{% block seccionTitulo %}{{ noticia.seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}Listados noticias, eventos y mas...{% endblock %}

{% block medio %}
    <section id="blog" class="container">
        <div class="row">
            {{ include("@dirname/Plantilla/seccionLateralBlog.html.twig") }}
            <div class="col-lg-8 col-sm-8">
                <div class="blog row">
                    <div class="blog-item col-lg-12">
                        <h3 class="text-center">{{ noticia.titulo }}</h3>
                        <div class="entry-meta">
                            {#<span><i class="icon-user"></i> <a href="#">Webmaster</a></span>#}
                            <span><i class="icon-calendar"></i> {{ noticia.fecha|localizeddate('long', 'none') }}</span>
                            {#<span><i class="icon-comment"></i> <a href="blog-item.html#comments">3 Comments</a></span>#}
                        </div>
                        <div class="blog-content">
                            {% if noticia.imagenes|length > 0 %}
                                {% if noticia.imagenes[0].webPath is not null %}
                                    <section id="portfolio">
                                        <ul class="portfolio-items">
                                            <li class="portfolio-item apps col-lg-6">
                                                <div class="item-inner">
                                                    <a class="example-image-link-for" href="{{ asset(noticia.imagenes[0].webPath) }}" data-lightbox="notica-ImagenPortadafor-set" data-title="{{ noticia.imagenes[0].descripcion }}">
                                                        <img class="example-image" src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagen_ancho260')) }}" alt=""/>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                {% endif %}
                            {% elseif noticia.imagenPortada is not null %}
                                {% if noticia.imagenPortada.webPath is not null %}
                                    <section id="portfolio">
                                        <ul class="portfolio-items">
                                            <li class="portfolio-item apps col-lg-6">
                                                <div class="item-inner">
                                                    <a class="example-image-link-for" href="{{ asset(noticia.imagenPortada.webPath) }}" data-lightbox="notica-ImagenPortadafor-set" data-title="{{ noticia.imagenPortada.descripcion }}">
                                                        <img class="example-image" src="{{ asset(noticia.imagenPortada.webPath|imagine_filter('imagen_ancho260')) }}" alt=""/>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                {% endif %}
                            {% endif %}
                            {#<span>{{ noticia.descripcion }}</span>#}
                            <div>{{ noticia.contenido|raw }}</div>
                        </div>
                    </div>
                </div>
                {% if noticia.imagenes|length > 0 or noticia.archivo is not null or noticia.videos is not null %}
                    <div class="blog row">
                        <div class="blog-item col-lg-12">
                            <div class="blog-content">
                                {% if noticia.imagenes|length > 0 %}
                                    <section id="portfolio">
                                        <ul class="portfolio-items row">
                                            {% for key,img in noticia.imagenes %}
                                                <li class="portfolio-item apps col-lg-4">
                                                    <div class="item-inner">
                                                        <a class="example-image-link-for" href="{{ asset(img.webPath) }}" data-lightbox="notica-ImagenPortadafor-set" data-title="{{ img.descripcion }}">
                                                            <img class="example-for-image" src="{{ asset(img.webPath|imagine_filter('imagen_ancho260')) }}" alt=""/>
                                                        </a>
                                                    </div>
                                                </li><!--/.portfolio-item-->
                                            {% endfor %}
                                        </ul>
                                    </section><!--/#portfolio-->
                                {% endif %}

                                {% if noticia.archivo %}
                                    {% if noticia.archivo.filePath is not null %}
                                        <div class="round round-lg">
                                            <a href="{{ asset(noticia.archivo.webPath) }}" download="{{ noticia.titulo }}" style="color:#fff;">
                                                <span class="glyphicon glyphicon-file"></span> 
                                            </a>
                                        </div>
                                        <a href="{{ asset(noticia.archivo.webPath) }}" download="{{ noticia.titulo }}">
                                            Descargar Archivo  
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if noticia.videos %}
                                    <div class="row">
                                        {% for video in noticia.videos %}
                                            <div class="col-md-4">
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    {{ video.codigoIframe|raw }}
                                                </div>
                                            </div><!--.col -->
                                        {% endfor %}
                                    </div><!--./row -->
                                {% endif %}
                                {# <hr>
                                 <div class="tags">
                                     <i class="icon-tags"></i> Tags <a class="btn btn-xs btn-primary" href="#">CSS3</a> <a class="btn btn-xs btn-primary" href="#">HTML5</a> <a class="btn btn-xs btn-primary" href="#">WordPress</a> <a class="btn btn-xs btn-primary" href="#">Joomla</a>
                                 </div>
     
                                 <p>&nbsp;</p>
     
                                 <div id="comments">
                                     <div id="comments-list">
                                         <h3>3 Comentario</h3>
                                         <div class="media">
                                             <div class="media-body">
                                                 <div class="well">
                                                     <div class="media-heading">
                                                         <strong>John Doe</strong>&nbsp; <small>27 Aug 2013</small>
                                                     </div>
                                                     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                 </div>
                                             </div>
                                         </div><!--/.media-->
                                     </div><!--/#comments-list-->  
     
                                     <div id="comment-form">
                                         <h3>Enviar Comentario</h3>
                                         <form class="form-horizontal" role="form">
                                             <div class="form-group">
                                                 <div class="col-sm-6">
                                                     <input type="text" class="form-control" placeholder="Nombre">
                                                 </div>
                                                 <div class="col-sm-6">
                                                     <input type="email" class="form-control" placeholder="Email">
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <div class="col-sm-12">
                                                     <textarea rows="8" class="form-control" placeholder="Comment"></textarea>
                                                 </div>
                                             </div>
                                             <button type="submit" class="btn btn-danger btn-lg">Enviar Comentario</button>
                                         </form>
                                     </div><!--/#comment-form-->
                                 </div>#}<!--/#comments-->
                            </div>
                        </div><!--/.blog-item-->
                    </div>
                {% endif %}
            </div>
        </div>    
    </section>
{% endblock %}