{% block cmsga_bundle_repositoryfilesbundle_archivo_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

    {{ form_errors(form) }}
    <fieldset>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form_row(form.file) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.descripcion) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.categoria) }}
            </div>
        </div>
    </fieldset>
{% endblock %}
