body
{
	font-family: 'Open Sans', sans-serif;
	background: url(../img/cream_dust.png);
}

.navbar-default {
background-color: #72b61f;
-moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
border-bottom: #8FE229 solid 3px;
}

.navbar-default .navbar-nav > li > a {
color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
color: #8edb34;
}

h3, header
{color: #72b61f;}

.navbar-default .navbar-brand {
color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #555555;
background-color: #8edb34;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ffffff;
background-color: #8edb34;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}

.navbar-default .navbar-toggle {
border-color: #ffffff;
}

header
{
margin-top: 60px;
margin-bottom: 25px;
-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
padding-bottom: 10px;background-color: rgba(255, 255, 255, 0.6);
}

.marca img 
{
	width: 140px;
}

.marca 
{font-size: 35px;}

.intro a, .not a, .notone a
{padding: 5px;
	display: block;
	background-color: #428bca;
	color: white;
	padding-left: 15px;
	width: 100px;
	float: right;
	border: #50A6F3 solid 3px;
	border-radius: 2px;

}

.intro a:hover, .not a:hover, .notone a:hover
{
	background-color: #50A6F3;
	text-decoration: none;
	color: #FFFFFF;
}

.intro a 
{margin-top: 10px;}

.pr{
	font-size: 18px;
	background-color: rgba(142, 219, 52, 0.075);
	padding: 15px;
}

.pr img 
{}

.pr h3
{font-size: 40px;}

.pr a{font-size: 15px;}

.intro {
font-size: 14px;
-moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
color: #555;
padding: 15px;
margin-bottom: 30px;
background-color: rgba(255, 255, 255, 0.4);
border: #ffffff solid 2px;
}

.slider
{
	margin-bottom: 25px;
}

.act li {
	background-color: rgba(18, 136, 182, 1);
	list-style: none;
	padding: 10px;
	margin-bottom: 2px;
	margin-left: -40px;
	display: block;
	border-bottom: 1px #fff solid;
	color: white;
}

.cuando {
	font-size: 12px;
	float: right;
}

.dies {
	background-color: rgba(52, 172, 219, 0.15);
	padding: 10px;
	padding-top: 2px;
	-moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	color: rgba(18, 136, 182, 1);
}

.intro img, .not img
{
	width: 100%;
	background-color: white;
	padding: 5px;
	border: 1px #eeeeee solid;
	margin-bottom: 10px;
}


.fecha{
	color: #aaaaaa;
	font-size: 12px;
	display: block;
}

.not
{display: block;
padding-bottom: 30px;
margin-bottom: 30px;
clear: both;
border-bottom: 1px #eeeeee solid;
}

.titulo
{
	padding-top: 65px;
	padding-bottom: 18px;
	font-size: 50px;
background-color: rgba(255, 255, 255, 0.6);	padding-left: 25px;
	margin-bottom: 20px;
	-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
color: #72b61f;
}

.separar
{height: 50px;
clear: both;}
.not img 
{
	width: 100%;
	background-color: white;
	padding: 5px;
	margin-bottom: 10px;
}

.not h3
{margin-bottom: 0px;}

.clear
{clear: both;}
.banners
{margin-top: 25px;}

.banner
{
	font-size: 25px;
	background-color: rgba(142, 219, 52, 0.15);
	color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	margin-bottom: 5px;
}

h3, h4, header, .titulo
{
	font-family: 'Chau Philomene One', sans-serif;
}

.carousel-caption {
position: absolute;
right: 2%;
bottom: 20px;
left: 2%;
z-index: 10;
padding-top: 20px;
padding-bottom: 30px;
color: #000000;
text-align: center;
text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
font-size: 23px;
background-color: rgba(255, 255, 255, 0.5);
	-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators {
bottom: 15px;
}

footer
{
	margin-top: 25px;
	text-align: center;
	font-size: 12px;
	color: #444;
	border-top: #8FE229 4px solid;
}

.carousel-indicators li {
display: inline-block;
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
cursor: pointer;
border: 1px solid #000000;
background-color: #000000;
border-radius: 10px;
}

.carousel-indicators li:hover {
background-color: #ffffff;

}

.carousel-indicators .active {
width: 12px;
height: 12px;
margin: 0;
background-color: #72b61f;
-moz-box-shadow:  0 2px 2px rgba(0, 0, 0, 0.42);
-webkit-box-shadow:  0 2px 2px rgba(0, 0, 0, 0.42);
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.42);
}

.btn-primary img {
color: #ffffff;
background-color: #ffffff;
border-color: #eeeeee;
}

.pr .btn-primary 
{width: 100%;}

.btn-lg {
padding: 0px;
font-size: 18px;
line-height: 1.33;
border-radius: 0px;
}
.btn-primary {
color: #ffffff;
background-color: #ffffff;
border-color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: #ffffff;
border-color: #ffffff;
}

.mis
{font-size: 11px;
text-align: center;
color: #aaa;}

.marcapie img 
{width: 80px;}

footer
{
	background-color: #72b61f;
	padding: 0px;
	padding: 10px;
	color: white;
}

.notone
{margin-bottom: 25px;}

@media screen and (max-width: 768px) {
 .marca img
 {display: block;
text-align: center;
width: 100;
margin-left: auto;
margin-right: auto;
 }

 .marca{
 	text-align: center;
 	font-size: 23px;
 }

 .not a
{margin-bottom: 30px;
}

.dropdown-menu > li > a {
color: #ffffff;
font-size: 13px;
line-height: 1.9;
}

.titulo
{
	font-size: 30px;
}

.fc-header-right {
text-align: left;}

.fc-header-left {
font-size: 20px;
width: 100%;
display: block;
}

}


.dropdown-menu > li > a {
color: #72b61f;
font-size: 13px;
font-weight: bold;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #ffffff;
background-color: #8edb34;
}

.line 
{width: 1px;
height: 50px;
background-color: #83CF50;
float: left;}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
color: #ffffff;
text-decoration: none;
background-color: #8edb34;
outline: 0;
}

.social
{
	width: 32px;
	float: right;
	margin-right: 20px;
	margin-top: 17px; 
	position: fixed;
	right: 0px;
}

.social img 
{width: 32px;
margin-bottom: 3px;
opacity: 0.4;
}

.social img:hover
{opacity: 1;
	cursor: pointer;
}

.modal-title {
color: #72b61f;
font-size: 30px;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
position: absolute;
top: 45%;
left: 50%;
z-index: 5;
display: inline-block;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	height: auto;
	max-width: 100%;
	line-height: 1;
	width: 100%;
}

.carousel-inner a {
	color: #000000;
	text-decoration: none;
}

#loading {
		position: absolute;
		top: 5px;
		right: 5px;
		}

#calendar {
		width: 100%;
		margin: 0 auto;
		}

.evento
{
	margin-left: auto;
	margin-right: auto;	
	background-color: rgba(142, 219, 52, 0.075);
	padding: 0 15px 15px;
	margin-bottom: 15px;
}

.evento .fecha
{background-color: rgba(142, 219, 52, 0.075);
font-size: 14px;
display: block;
padding: 7px;
color: #000000;
border-bottom: white 2px solid;
font-weight: bold;
}

.eventone
{
	margin-left: auto;
	margin-right: auto;	
	background-color: rgba(142, 219, 52, 0.35);
	padding: 0 15px 15px;
	margin-bottom: 15px;
	-ms-transform: scale(1.085);
	-webkit-transform: scale(1.085);
	-moz-transform: scale(1.085);
	-o- transform: scale(1.085);
	transform: scale(1.085);
	-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	border: solid 5px white;
	text-shadow: 1px 2px 1px #FFFFFF;
}

.eventone .fecha
{background-color: rgba(142, 219, 52, 0.25);
font-size: 14px;
display: block;
padding: 7px;
color: #000000;
border-bottom: white 2px solid;
font-weight: bold;
}

.creacion
{font-size: 12px;
display: block;
padding: 7px;
margin-top: -15px;
opacity: 0.5;
padding-left: 0px;
}

.evento h4 .eventone h4
{margin-bottom: 0px;}

.eventone h3
{
	margin-top: 0px;
	padding-top: 15px;
	font-size: 30px;
	color: black;
}

.evento img 
{
	display: block;
	/*width:130px;*/
	margin-top: 20px;
	border: white 4px solid;
}

.autoridades
{background-color: rgba(142, 219, 52, 0.15);
padding: 20px;
color: #555;
text-align: center;}

.autoridades img 
{width: 100%;
	background-color: white;
	padding: 7px;
	border: #ccc solid 1px;
}

.autoridades h4
{margin-bottom: 0px;}

.one 
{
	font-size: 25px;
	font-style: italic;
	padding: 20px;
	background-color: rgba(142, 219, 52, 0.15);
	display: block;
	color: #72b61f;
}

.sede img 
{	width: 100%;padding: 7px;
 
}

.sede
{width: 48%;float: left;-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
margin: 3px;
background-color: rgba(255, 255, 255, 0.75);}

.modal-body img 
{width: 100%;}

iframe
{ width: 100%;
height: 350px;
background-color: rgba(255, 255, 255, 0.40);
padding: 10px;margin-bottom: -5px;
border: solid 1px rgba(255, 255, 255, 0.60);
-moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

.mensaje input
{
  margin-bottom: 8px; 
}

.mensaje .btn-info 
{
  margin-bottom: 5px; 
  margin-top: 20px;
  margin-right: 10px;
}

.datos
{
	margin-top: 15px;
	background-color: rgba(142, 219, 52, 0.075);
	padding: 20px;
	margin-bottom: 15px;
	padding-top: 5px;
}


.dies-2 {
	background-color: rgba(117, 219, 36, 0.15);
	padding: 10px;
	padding-top: 2px;
	-moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
	color: #72b61f;
}

.act-2 li {
	background-color: rgba(0, 167, 27, 1);
	list-style: none;
	padding: 10px;
	margin-bottom: 2px;
	margin-left: -40px;
	display: block;
	border-bottom: 1px #fff solid;
	color: white;
	border-radius: 3px;
}

.banner img {
	width: 90%;
}

.list-group-fecha {
	background-color: #1288F6 !important;
	height: 22px !important;
	padding: 0 10px 0 80px !important;
}
.actfooter {
	padding: 15px;
}
.space 
{padding-top: 70px;}

