{% form_theme form _self %}

{% block form_start %}
    {% spaceless %}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}
                <form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %} role="form">
                    {% if form_method != method %}
                        <input type="hidden" name="_method" value="{{ method }}" />
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            {{ form_row(form.texto) }}
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            {{ form_row(form.tipo) }}
                        </div>
                        <div class="col-lg-1 col-md-6 col-sm-12">
                            <button class="btn btn-info" type="submit"><i class="icon-search"></i></button>
                        </div>
                    </div>
    {% endspaceless %}
{% endblock form_start %}
{% block form_end %}
                </form>
{% endblock form_end %}