{% macro imagenNoticia(form) %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-3 col-md-3 col-sm-3">    
                {{ form_row(form.file) }}
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">    
                {{ form_row(form.descripcion) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">    
                <a class='delete-form btn btn-mini btn-danger' href='javascript:;'>
                    <i class='glyphicon glyphicon-trash'></i>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}
<div data-prototype="{{ _self.imagenNoticia(form.imagenes.vars.prototype)|e }}" class="row imagenes-noticia">
    {% for imagen in form.imagenes %}
        {{ _self.imagenNoticia(imagen) }}
    {% endfor %}
</div>
<a href='javascript:;' class='btn btn-info add-imagen-form'>
    <i class='glyphicon glyphicon-plus'></i><i class=" glyphicon glyphicon-picture"></i> Nueva Imagen
</a>

