{% macro pageFace(form) %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-4 col-md-4 col-sm-4">    
                {{ form_row(form.name) }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">      
                {{ form_row(form.idPage) }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">      
                {{ form_row(form.token) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">    
                <br>
                <a class='btnRemovePageFace btn btn-mini btn-danger' href='javascript:;'>
                    <i class='glyphicon glyphicon-trash'></i>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}
<div data-prototype="{{ _self.pageFace(form.pages.vars.prototype)|e }}" class="PageFace well">
    <h4>Agregar Páginas</h4>
    {% for page in form.pages %}
        {{ _self.pageFace(page) }}
    {% endfor %}
</div>
<a href='javascript:;' class='btn btn-info add_PageFace_link'>
    <i class='glyphicon glyphicon-plus'></i><i class="glyphicon glyphicon-file"></i> Nueva Pagina
</a>

