{% macro seccion(form) %}
    <li class="list-group-item rowremove"> 
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
                {{ form_row(form.seccion) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"><br>
                <a class='btnRemoveSeccion btn btn-mini btn-danger' href='javascript:;'>
                    <i class='glyphicon glyphicon-trash'></i>
                </a>
            </div>
        </div>
    </li>
{% endmacro %}
<div data-prototype="{{ _self.seccion(form.secciones.vars.prototype)|e }}" class="secciones">
    <ul class="list-group">
        {% for seccion in form.secciones %}
            {{ _self.seccion(seccion) }}
        {% endfor %}
    </ul>
</div>
<div class="ribon_dom"><button type="button" class='add_seccion_link btn btn-default'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-list-alt"></span></button></div>
