{% macro page(form) %}
    <li class="list-group-item rowremove"> 
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
                {{ form_row(form.pageFace) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"><br>
                <a class='btnRemovePage btn btn-mini btn-danger' href='javascript:;'>
                    <i class='glyphicon glyphicon-trash'></i>
                </a>
            </div>
        </div>
    </li>
{% endmacro %}
<div data-prototype="{{ _self.page(form.pages.vars.prototype)|e }}" class="pages">
    <ul class="list-group">
        {% for page in form.pages %}
            {{ _self.page(page) }}
        {% endfor %}
    </ul>
</div>
<button type="button" class='add_pageFace_link btn btn-default'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-file"></span></button>
