{% form_theme form 'CmsGaBackBundle:widget:imagen-portadafields.html.twig' %}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 ocultarCamposImagenPortada">
        {{ form_label(form.imagenPortada.file) }}
        {{ form_errors(form.imagenPortada.file) }}
        {{ form_widget(form.imagenPortada.file) }}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 ocultarCamposImagenPortada">
                {{ form_row(form.imagenPortada.orden) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ocultarCamposImagenPortada">
                {{ form_row(form.imagenPortada.finPublicacion) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                {{ form_row(form.imagenPortada.publicado) }}
            </div>
            {% if form.imagenPortada_eliminar is defined %}
                <div class="col-lg-2 col-md-2 col-sm-2 ocultarCamposImagenPortada">
                    {{ form_row(form.imagenPortada_eliminar) }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 ocultarCamposImagenPortada">
                {{ form_label(form.imagenPortada.descripcion) }}
                {{ form_errors(form.imagenPortada.descripcion) }}
                {{ form_widget(form.imagenPortada.descripcion) }}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ocultarCampos($(".btnPublicado:checked").prop('checked'));
    });
    $("#btnClearFechaImagenPortada").click(function () {
        $(".txtFinPublicacion select").val("");
    });
    $(".btnPublicado").click(function () {
        if ($(this).prop('checked')) {
            ocultarCampos(true);
        } else {
            ocultarCampos(false);
        }
    });
    function ocultarCampos($ocultar) {
        if ($ocultar) {
            $(".ocultarCamposImagenPortada").show();
        } else {
            $(".ocultarCamposImagenPortada").hide();
        }
    }
</script>
