{% extends "MWSimpleAdminCrudBundle:widget:fields.html.twig" %}
{% block date_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        {% if datetime is not defined or not datetime %}
            <div {{ block('widget_container_attributes') -}}>
            {% endif %}
            {{ date_pattern|replace({
                '{{ year }}': form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}': form_widget(form.day),
            })|raw }}
            <button id="btnClearFechaImagenPortada" type="button" class="btn btn-danger">Borrar Fecha</button> 
            {% if datetime is not defined or not datetime %}
            </div>
        {% endif %}
    {% endif %}
    {%- endblock date_widget %}
