<fieldset>
    <legend>Publicar en Facebook</legend>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            {{ form_row(form.idPage) }}
        </div>
    </div>
</fieldset>