{% if (menu.items is defined) %}
  {% for key, item in menu.items %}
    <div class="{{ item.seccion.url }}">
        {% if item.children is empty %}
          {#% if item.seccion.urlExterna %}
            <li><a href="{{ item.seccion.url }}" target="_blank">{{ item.title }}</a></li>
          {% else %#}
            {{ render(controller("CmsGaFrontBundle:Default:seccionView", {'sec': item.seccion.url, 'view': 'seccion' ~ key})) }}
          {#% endif %#}
        {% else %}
          {#<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <b class="caret"></b></a>
            <ul class="dropdown-menu">#}
              {% for children in item.children %}
                {#% if children.seccion.urlExterna %}
                  <li><a href="{{ children.seccion.url }}" target="_blank">{{ children.title }}</a></li>
                {% else %#}
                  <li><a href="{{ path('seccion_front_view', { 'sec': children.seccion.url }) }}">{{ children.title }}</a></li>
                {#% endif %#}
              {% endfor %}
            {#</ul>
          </li>#}
        {% endif %}
    </div>
  {% endfor %}
{% endif %}