{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}
{% block form %}
    {% form_theme form 'CmsGaBackBundle:Form:form-user.html.twig' %}
    {{ form(form) }}
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addSeccion.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addSelectPageFace.js') }}"></script>
{% endblock %}  